div.row {
	width: 500px;
	padding-top: 5px;
	padding-bottom: 5px;	
}

div.menu {
	text-align: right;
}

div.center-text {
	text-align: center;
}

div.row > label {
	float: left;
	width: 150px;
}

span.error {
	color: red;
}